@font-face {
    font-family: 'fuenteparrafos';
    src: url('../fonts/fuenteparrafos/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'fuentetitulos';
    src: url('../fonts/fuentetitulos/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

.generalbody {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center calc(50% - 20px);
}

#cardimggym{
    background-image: url(../images/gym.jpg);
    background-size: cover;
    background-attachment:absolute;
    background-position: center calc(22% - 40px);
    filter: grayscale(100%);
    transition: filter 1ms linear;
}
#cardimggym:hover{
    filter: grayscale(0%);
    filter: contrast(150%) !important;
}

#cardimgspa{
    background-image: url(../images/spa.jpg);
    background-size: cover;
    background-attachment: absolute;
    filter: grayscale(100%);
    transition: filter 1ms linear;
}
#cardimgspa:hover{
    filter: grayscale(0%);
    filter: contrast(150%) !important;
}
#cardimgtenis{
    background-image: url(../images/cancha\ de\ tenis.jpg);
    background-size: cover;
    background-attachment: absolute;
    filter: grayscale(100%);
    transition: filter 1ms linear;
}
#cardimgtenis:hover{
    filter: grayscale(0%);
    filter: contrast(150%) !important;
}
#cardimgagua{
    background-image: url(../images/agua-piscina.jpg);
    background-size: cover;
    background-attachment: absolute;
    filter: grayscale(100%);
    transition: filter 1ms linear;
}
#cardimgagua:hover{
    filter: grayscale(0%);
    filter: contrast(150%) !important;
}
:root {
    --bs-gutter-x: 0;
  }
  
.row {
    --bs-gutter-x: 0;
  }

.nav-text {
    color: black;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.8) !important;
    box-shadow: 5px 5px 10px 3px rgb(0, 0, 0);
}

.btn-form {
    background-image: linear-gradient(to bottom right, #38334dca, #1f1657d2);
    border: none;
}

.btn-form:hover {
    background-color: #420204;
}

.btn-form:active {
    background-color: #420204 !important;
}

.ftr-box {
    background-color: #594c55d6;
}

div>ul>li>a:hover {
    transform: scale(1.2) !important;
    color: black !important;
    font-weight: bold;
}

#logo:hover {
    transform: scale(1.05) !important;
    box-shadow: 1px 1px 10px black;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #420204;
}
.card-body {
    background-color: #99979785;
}

h2,h5,h3{
    font-family: 'fuentetitulos' !important;
    color: white;
    font-weight: bold;
}
p{
    font-family: 'fuenteparrafos' !important;
    color: white;
}
.estilos_card_p{
color: black !important;
}
.contenedorCarucel{
    font-weight: bold;
    color: #ffffff ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336),2px 2px 1px rgba(0, 0, 0, 0.774), -1px -1px 1px rgba(0, 0, 0, 0.774);
}
.adjuntar{
margin: 0px auto !important;
text-align: center !important;
padding: 1%;
}

.bordes{
    border-bottom: 1px dashed white;
}
.ajustar_car_paquetes{
    text-align:start !important;
}
a{
    font-family: 'fuenteparrafos' !important;
}