@media (max-width: 1200px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 30em;
        height: auto;
    }
}

@media (max-width: 1199px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 27.5em;
        height: auto;
    }

    .p_card_global {
        font-size: 1.3em !important;
    }
}

@media (max-width: 992px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 20em;
        height: auto;
    }

    .p_card_global {
        font-size: 1.05em !important;
    }

}

@media (max-width: 767px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 32em;
        height: auto;
    }
}