{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Crea una cuenta en nuestra pagina de hootel para recibir promociones y diferentes ofertas de estadia.">
  <title>Registro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'css/file_general.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/V.png' %}" />
</head>

<body class="generalbody">

  <!--NAVBAR-->
  <header>
    <nav class="nvr-box navbar bg-white navbar-expand-sm border-body" sdata-bs-theme="dark" style="padding: 0px;">
      <div class="container-fluid">
        <a href="/"><img src="{% static 'images/V.png'%}" alt="V"
            style="width: 80px; margin-right:15px; filter: drop-shadow(2px 2px 8px black);""></a>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-text" href="/hoteles/">Hoteles</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link nav-text" href="/inicioSesion/">Inicio de sesion</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link nav-text" href="/registro/">Registrarse</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link nav-text" href="/contacto/">Contacto</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>



  <!--CONTENIDO-->
  <div class="container mb-5 mt-5">
    <div class="row">
      <form class="form-box col-10 col-sm-10 col-md-9 col-lg-8 mx-auto border mb-5 mt-5 pt-5 pb-5 rounded-5">
        <fieldset class="text-center text-white w-50 mx-auto">
          <h3 class="mb-5">Registro</h3>
          <div class="mb-3">
            <label class="form-label mb-4">Nombre</label>
            <input type="tel" class="form-control" id="inputEmail4">
          </div>
          <div class="mb-3">
            <label class="form-label mb-4">Apellido</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="mb-3">
            <label class="form-label mb-4">Email</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="Destructor1234">
          </div>
          <div class="mb-3">
            <label class="form-label mb-4">Contraseña</label>
            <input type="password" class="form-control" id="inputAddress2" placeholder="La bandera 213424">
          </div>
          <div class="mb-3">
            <label class="form-label mb-4">Dirección</label>
            <input type="text" class="form-control" id="inputCity">
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12 mx-auto opciones row"
            style="display: flex; justify-content: space-between;">
            <div class="col-6">
              <label class="form-label mb-4">Region</label>
              <select name="region" id="region" onchange="cargarComunas()" style="width: 90%;" class="py-1">
                <option value="">Selecciona una región</option>
                <option value="Región de Arica y Parinacota">Arica y Parinacota</option>
                <option value="Región de Tarapacá">Tarapacá</option>
                <option value="Región de Antofagasta">Antofagasta</option>
                <option value="Región de Atacama">Atacama</option>
                <option value="Región de Coquimbo">Coquimbo</option>
                <option value="Región de Valparaíso">Valparaíso</option>
                <option value="Región Metropolitana de Santiago">Metropolitana de Santiago</option>
                <option value="Región del Libertador General Bernardo O'Higgins">Libertador General Bernardo O'Higgins
                </option>
                <option value="Región del Maule">Maule</option>
                <option value="Región de Ñuble">Ñuble</option>
                <option value="Región del Biobío">Biobío</option>
                <option value="Región de la Araucanía">la Araucanía</option>
                <option value="Región de Los Ríos">Los Ríos</option>
                <option value="Región de Los Lagos">Los Lagos</option>
                <option value="Región de Aysén del General Carlos Ibáñez del Campo">Aysén</option>
                <option value="Región de Magallanes y de la Antártica Chilena">Magallanes</option>
              </select>
            </div>


            <div class="col-6">
              <label class="form-label mb-4">Comuna</label>
              <select name="comuna" id="comuna" class="py-1" style="width: 90%;">
                <option value="">Selecciona una comuna</option>
              </select>
            </div>
          </div>

          <div class="col-12 text-center mt-5">
            <button type="button" class="btn btn-primary btn-form" onclick="obtenerDatos()">Sign in</button>
          </div>

        </fieldset>

      </form>
    </div>

  </div>



  <footer>
    <div class="container-fluid bg-white mt-1 p-2">
      <div class="row">
        <!--Aquí va el logo del hotel-->
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-success"><img src="{% static 'images/V.png'%}" class="rounded-2"
              style="width: 75%; filter: drop-shadow(5px 5px 8px black);" id="logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-dark"><i class="bi bi-person-hearts"></i> Servicios Veranum</a>
          <p class="text-dark p-1">Gimnasios<br>
            Piscina<br>Sala de reuniones<br>Buffets<br>Sala de spa y relajacion
          </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-dark"><i class="bi bi-rocket-takeoff-fill"></i>Necesitas
            ayuda?</a>
          <p class="text-dark p-1">veranumhotel@gmail.com</p>
          <a href="#" class="text-dark text-decoration-none">Contactanos</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <h6>Redes</h6>
          <a href="https://www.facebook.com/?locale=es_LA" class="text-decoration-none"><i
              class="bi bi-facebook"></i>Facebook</a>
          <br>
          <a href="https://www.instagram.com/" class="text-decoration-none" style="color: rgba(128, 0, 255);"><i
              class="bi bi-instagram"></i>Instagram</a>
          <br>
          <a href="https://www.whatsapp.com/?lang=es_LA" class="text-decoration-none" style="color:rgba(0, 152, 70);">
            <i class="bi bi-whatsapp"></i>WhatsApp</a>
          <br>
          <a href="https://www.threads.net/?hl=es-la" class="text-decoration-none text-dark">
            <i class="bi bi-threads-fill"></i>Threads</a>
          <br>
          <a href="https://twitter.com/?lang=es" class="text-decoration-none text-dark"><i
              class="bi bi-twitter-x"></i>Twitter</a>
        </div>
        <!--Aquí va el maps-->
        <div class="col-sm-6 col-md-4 col-lg-2">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.1919501913984!2d-122.4075185855756!3d37.78374906348677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580886b341cb1%3A0x3843b8b296c92047!2sGoogleplex!5e0!3m2!1sen!2sus!4v1621916913439!5m2!1sen!2sus"
            width="200%" height="160" style="border:0;;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="container text-center">
        <hr>
        <p style="color: black;">&copy; 2024 Todos los derechos reservados</p>
        <p style="color: black;">Natanael Labrea / Christian Ormeño / Demis Cuesta / Emerson Jiménez</p>
      </div>
    </div>
  </footer>




  <div>
    <script src="js/registro-comunas.js"></script>
    <script src="js/registro-validacion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

</body>

</html>