{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Podras encontrar nuestros hoteles disponibles tanto en Santiago como en Valparaiso,
  con sus respectivos valores y disponibilidades de dorminotrios.">
  <title> Hotel region de Valparaiso </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{%static 'css/file_general.css'%}">
  <link rel="icon" type="image/x-icon" href="{%static 'images/V.png'%}" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
  <link rel="stylesheet" href="{%static 'css/carrito.css'%}">
</head>

<body class="generalbody">
  <!--NAVBAR-->
  <header>
    <nav class="nvr-box navbar bg-white navbar-expand-sm border-body" sdata-bs-theme="dark" style="padding: 0px;">
      <div class="container-fluid">
        <a href="/"><img src="{%static 'images/V.png'%}" alt="V"
            style="width: 80px; margin-right:15px; filter: drop-shadow(2px 2px 8px black);"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link nav-text" href="/inicioSesion/">Inicio de sesion</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav-text" href="/hotel_stgo/">Hotel Santiago</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav-text" href="/contacto/">Contacto</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item position-relative">
              <i id="cart-icon" class="bi bi-cart-fill"></i>
              <div id="cart-container">
                <div id="cart-items"></div>
                <div id="cart-total" class="cart-total">Total: $0 CLP</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="mt-1 p-2 container-fluid" style="background-color: rgba(0, 0, 0, 0.8); ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 adjuntar" style="border-right: 1px dashed white;">
        <img src="{%static 'images/htl-region.jpeg'%}" alt="..." style="width:85%; height: 25em; 
        border-radius: 0px 50px; " class="responsive mt-1">
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 adjuntar">
          <h2 class="mt-3 titulo_global" style="font-size: 35px;">Veranum Valparaíso</h2>
        <p class="mt-2 p_card_global" style="font-size: 23px; text-align: justify; padding: 20px;">
          El hotel combina comodidad y elegancia con la rica cultura local. Disfruta de vistas panorámicas al océano
          Pacífico y la encantadora arquitectura de la ciudad. Nuestras habitaciones están equipadas con tecnología
          moderna y decoración elegante. Relájate en nuestros espacios comunes acogedores y degusta la mejor gastronomía
          local. Ideal para viajeros que buscan una experiencia auténtica, el Hotel Veranum Valparaíso ofrece
          tranquilidad y un servicio excepcional, con fácil acceso a la vibrante vida cultural y los principales
          atractivos.
        </p>
      </div>
    </div>

    <div class="container mt-0">
      <h3 class="text-center text-white mt-2" style="border-top: 1px dashed white;">Habitaciones</h3>
      <div class="row mt-3">
        <!-- Habitacion 1 -->
        <div class="col-sm-12 col-md-12 col-lg-4 adjuntar">
          <div class="card mb-4">
            <img src="{%static 'images/htl-dormitorio1-reg.png'%}" class="card-img-top" alt="Dormitorio con Vista al Mar">
            <div class="card-body ajustar_car_paquetes">
              <h5 class="card-title estilos_card_p">Dormitorio con Vista al Mar</h5>
              <p class="card-text estilos_card_p">
                Disfruta de una hermosa vista al océano Pacífico en este acogedor dormitorio.
                Equipado con una cama matrimonial, baño privado y todas las comodidades necesarias.
              </p>
              <p class="card-text estilos_card_p">Precio: Desde $60.000 CLP por noche.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-form"
                  onclick="añadircar('Dormitorio Estándar', 60000)">Añadir al carrito</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Habitacion 2 -->

        <div class="col-sm-12 col-md-12 col-lg-4 adjuntar">
          <div class="card mb-4">
            <img src="{%static 'images/htl-dormitorio2-reg.jpg'%}" class="card-img-top" alt="Dormitorio Deluxe">
            <div class="card-body ajustar_car_paquetes">
              <h5 class="card-title estilos_card_p">Dormitorio con Vista a los Cerros</h5>
              <p class="card-text estilos_card_p">
                Este encantador dormitorio ofrece vistas a las coloridas colinas de Valparaíso.
                Cuenta con dos camas individuales, baño privado y un ambiente relajante para disfrutar de la ciudad.
              </p>
              <p class="card-text estilos_card_p">Precio: Desde $70.000 CLP por noche.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-form"
                  onclick="añadircar('Dormitorio Deluxe', 70000)">Añadir al carrito</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Habitacion 3 -->
        <div class="col-sm-12 col-md-12 col-lg-4 adjuntar">
          <div class="card mb-4">
            <img src="{%static 'images/htl-dormitorio3-reg.jpg'%}" class="card-img-top" alt="Suite Ejecutiva">
            <div class="card-body ajustar_car_paquetes">
              <h5 class="card-title estilos_card_p">Suite Familiar</h5>
              <p class="card-text estilos_card_p">
                Ideal para familias, esta espaciosa suite ofrece vistas al mar y a los cerros.
                Equipado con una cama king size y una cama individual, baño privado y todas las comodidades modernas.
              </p>
              <p class="card-text estilos_card_p">Precio: Desde $90.000 CLP por noche.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-form"
                  onclick="añadircar('Suite Ejecutiva', 90000)">Añadir al carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-1 p-2 container-fluid" style="background-color: rgba(0, 0, 0, 0.8); ">
    <div class="container mt-0">
      <h3 class="text-center text-white mt-2">Servicios extras</h3>
      <div class="row mt-3">

        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 adjuntar mt-2 mb-2">
            <div class="card" id="cardimggym">
              <div class="card-body">
                <h5 class="card-title">Gym</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary btn-form" onclick="añadircar('gym', 12000)">Añadir
                    servicio extra</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-2 mb-2 adjuntar">
            <div class="card" id="cardimgspa">
              <div class="card-body">
                <h5 class="card-title">Spa</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary btn-form" onclick="añadircar('spa', 12000)">Añadir
                    servicio extra</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-2 mb-2 adjuntar">
            <div class="card" id="cardimgtenis">
              <div class="card-body">
                <h5 class="card-title">Tenis</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary btn-form" onclick="añadircar('tenis', 12000)">Añadir
                    servicio extra</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-2 mb-2 adjuntar">
            <div class="card" id="cardimgagua">
              <div class="card-body">
                <h5 class="card-title">Piscina</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary btn-form" onclick="añadircar('piscina', 12000)">Añadir
                    servicio extra</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid bg-white mt-1 p-2">
      <div class="row">
        <!--Aquí va el logo del hotel-->
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-success"><img src="{%static 'images/V.png'%}" class="rounded-2"
              style="width: 75%; filter: drop-shadow(5px 5px 8px black);" id="logo"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-dark"><i class="bi bi-person-hearts"></i> Servicios
            Veranum</a>
          <p class="text-dark p-1">Gimnasios<br>
            Piscina<br>Sala de reuniones<br>Buffets<br>Sala de spa y relajacion
          </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a href="#" class="text-decoration-none text-dark"><i class="bi bi-rocket-takeoff-fill"></i>Necesitas
            ayuda?</a>
          <p class="text-dark p-1">veranumhotel@gmail.com</p>
          <a href="Contacto.html" class="text-dark text-decoration-none">Contactanos</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <h6>Redes</h6>
          <a href="https://www.facebook.com/?locale=es_LA" class="text-decoration-none"><i
              class="bi bi-facebook"></i>Facebook</a>
          <br>
          <a href="https://www.instagram.com/" class="text-decoration-none" style="color: rgba(128, 0, 255);"><i
              class="bi bi-instagram"></i>Instagram</a>
          <br>
          <a href="https://www.whatsapp.com/?lang=es_LA" class="text-decoration-none" style="color:rgba(0, 152, 70);">
            <i class="bi bi-whatsapp"></i>WhatsApp</a>
          <br>
          <a href="https://www.threads.net/?hl=es-la" class="text-decoration-none text-dark">
            <i class="bi bi-threads-fill"></i>Threads</a>
          <br>
          <a href="https://twitter.com/?lang=es" class="text-decoration-none text-dark"><i
              class="bi bi-twitter-x"></i>Twitter</a>
        </div>
        <!--Aquí va el maps-->
        <div class="col-sm-6 col-md-4 col-lg-2">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.1919501913984!2d-122.4075185855756!3d37.78374906348677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580886b341cb1%3A0x3843b8b296c92047!2sGoogleplex!5e0!3m2!1sen!2sus!4v1621916913439!5m2!1sen!2sus"
            width="200%" height="160" style="border:0;;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="container text-center">
        <hr>
        <p style="color: black;">&copy; 2024 Todos los derechos reservados</p>
        <p style="color: black;">Natanael Labrea / Christian Ormeño / Demis Cuesta / Emerson Jiménez</p>
      </div>
    </div>
  </footer>
  <script src="{%static 'js/cart.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeS2b5F1Q1U5L+X2LkzWJm0ID1HZm+yy8f2vIfl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-ho+pP7BYLJDAlzA7GXxjtbltPns+33hY/eDk8nYIRqH+NaqQ/U00K43iYl7RaJz1"
    crossorigin="anonymous"></script>

</body>

</html>